<form id="contactUsForm" action="">
  <div class="row align-center">
    <div class="small-12 medium-8 large-6 columns">
      <input type="email" placeholder="Your email" ng-model="form.email" required name="email">
      <textarea name="message" rows="10" placeholder="Your message"  ng-model="form.message"></textarea>
    </div>
  </div>
  <div class="row align-center">
    <div class="small-12 medium-8 large-6 columns text-right">
      <input class="button" type="submit">
    </div>
  </div>
</form>
